{% extends 'flatpages/default.html' %}

{% block content %}
<i>А это третья страница заданния!</i>
<hr>
<h1>{{ flatpage.title }}</h1>
<hr>
<i>{{ flatpage.content }}</i>
<hr>
<h3>{{ flatpage.content }}</h3>
<hr>
<h1 style="text-align: center;"><big>Ну и немного текста с другим</big></h1>

<p style="text-align: center;"><span style="font-size:14px"><span style="font-family:Comic Sans MS,cursive">шрифтом</span></span></p>

<p style="text-align: center;"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><span style="font-size:20px">и размером!!!</span></span></p>

<p style="text-align: center;"><span style="color:#16a085"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><span style="font-size:20px"><span style="background-color:#f1c40f">ну и цветом че уж там)</span></span></span></span></p>

{% endblock content %}